/* Container */
.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
/* Header */
.reset-password-header {
  color: #2479a9;
  font-size: 48px;
  margin-bottom: 10px;
  text-align: center;
}

/* Reset Password Form */
.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.reset-password-form input {
  padding: 15px;
  border: 2px solid #1e84b5;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  color: #333;
  background-color: #eff8ff;
}

.reset-password-form label {
  font-size: 20px;
  color: #1e84b5;
  margin-bottom: 0 !important;
}

.reset-password-form input::placeholder {
  color: #52728280;
}

/* Back to Login Button */
.back-to-login-page-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1e84b5;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-to-login-page-btn:hover {
  background-color: #1e6889;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.back-to-login-page-btn span {
  margin-right: 10px;
}

.back-to-login-page-btn img {
  width: 25px;
  height: 25px;
}

/* Reset Password Button */
.reset-password-btn {
  display: inline-flex;
  align-items: center;
  background-color: #eff8ff;
  color: #1e84b5;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.reset-password-btn:hover {
  background-color: #d0e8f7;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.reset-password-btn span {
  margin-right: 10px;
}

/* Error and Success Messages */
.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  text-align: center;
  color: green;
  font-size: 14px;
  margin: 10px 0;
}
